
<head>
    <title>Home Component</title>
  </head>
  <body>
    <h2 class="text-center">Home Page</h2>




    <!-- <header class="header">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Login</a>
          <div class="dropdown-content">
            <a routerLink="/login">Admin Login</a>
            <a routerLink="/customerlogin">Customer Login</a>
          </div>
        </li>
      </ul>
    </header> -->
    <!-- <div>
      <h2 class="text-center">Home Page</h2>
      /////////Other content of the Home page goes here
    </div> -->
  </body>
  